{{#ui-layout class="container" as | configs Visa MasterCard AmericanExpress DiscoverCard DinersClub JCB cardToggle CVC nameOnCard
wallet billMeToggle billMe AlternativePayments savedConfigs selectedConfig newConfigName widgetToggle filter filterWith myAction
touched toggle setSelectedConfig saveNewConfig saveNewConfigName|}} {{#if widgetToggle }}
<div class="demo-card-wide mdl-card mdl-shadow--0dp">
  <ul class="demo-list-item mdl-list" style="width:350px">

    {{#if wallet}}
    <li class="mdl-list__item" style="padding:1%">
      <div style="width:100%;  margin: 0" class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 style="width:50%;  margin:5% 0 0 0" class="mdl-card__title-text">Your Wallet:</h2>
        </div>
        <select style="width:50%; margin:0 25%">
          <option value='Visa'>Visa ending in 4433</option>
          <option value='Visa'>Master Card ending in 3323</option>
          <option value='Visa'>Add a new payment method...</option>
        </select>
      </div>
    </li>
    {{/if}}
    <!---->
    {{#if AlternativePayments}}
    <li class="mdl-list__item" style="padding:1%">
      <div style="width:100%; height: 100px; margin:0%" class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div style=" margin:5% " class="mdl-card__supporting-text">
          <button class=" mdl-button mdl-js-button">
            <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/apple-pay.png" /> Apple Pay
          </button>
          <button class="mdl-button mdl-js-button">
            <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/amazon-pay.png" /> Pay Pal
          </button>
          <button style="" class="mdl-button mdl-js-button">
            <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/amazon-pay.png" /> Amazon Pay
          </button>
          <br/>
          <br/>
          <div>
            (you will be prompted to sign in to complete the payment process)
          </div>
        </div>
      </div>
    </li>
    {{/if}}
    <div></div>
    {{#if cardToggle}}
    <li class="mdl-list__item" style="padding:1%">
      <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div style="margin-bottom: 10px">
            {{#if Visa}}
            <button class="mdl-button mdl-js-button" disabled style={{configs.valid.visaStyle}}>
              <img src={{configs.cards.Visa.image}}/>
            </button>
            {{/if}}
            <!---->
            {{#if MasterCard}}
            <button class="mdl-button mdl-js-button" disabled style={{configs.valid.masterStyle}}>
              <img src={{configs.cards.MasterCard.image}}/>
            </button>
            {{/if}}
            <!---->
            {{#if AmericanExpress}}
            <button class="mdl-button mdl-js-button" disabled style={{configs.valid.americanStyle}}>
              <img src={{configs.cards.AmericanExpress.image}}/>
            </button>
            {{/if}}
            <!---->
            {{#if DiscoverCard}}
            <button class="mdl-button mdl-js-button" disabled style={{configs.valid.discoverStyle}}>
              <img src={{configs.cards.DiscoverCard.image}}/>
            </button>
            {{/if}}
            <!---->
            {{#if DinersClub}}
            <button class="mdl-button mdl-js-button " disabled style="padding:0">
              <img src={{configs.cards.DinersClub.image}}/>
            </button>
            {{/if}}
            <!---->
            {{#if JCB}}
            <button class="mdl-button mdl-js-button" disabled style="padding:0">
              <img src={{configs.cards.JCB.image}}/>
            </button>
            {{/if}}
          </div>
          <!---->
          <form id='my-form' class='payment-info'>
            <div style="width:100%; padding-top:0" class="mdl-textfield mdl-js-textfield">
              <input id="cc-number" data-cds="ccNumber" class="mdl-textfield__input" type="text" placeholder={{configs.cardInfo.number.placeholder}}
                name={{configs.cardInfo.number.name}} value={{configs.cardInfo.number.value}} onblur={{action touched configs.cardInfo.number.name
                configs.cardInfo.number.value}} oninput={{action myAction configs.cardInfo.number.name configs.cardInfo.number.value}}>
              <!---->
              {{#if configs.valid.showNumberValidation}}
              <div style="color:red; font-size: .8em">
                This field is required.
                <br/>{{configs.valid.numberValidation.card.niceType}} cards must be {{configs.valid.numberLengths}} long.
                <!---->
                {{#if configs.valid.notAcceptedCardsString }}
                <br/>{{configs.valid.numberValidation.card.niceType}} is not an accepted card.
                <!---->
                {{/if }}

              </div>
              {{/if }}
              <!-- VSCode v. Handlebars-->
              {{#if nameOnCard}}
              <!-- VSCode v. Handlebars -->
              <!--
              <input class="mdl-textfield__input" type="text" 
                placeholder={{configs.cardInfo.name.placeholder }}
                name={{configs.cardInfo.name.name}}
                value={{configs.cardInfo.name.value}} 
                onfocus={{action myAction configs.cardInfo.name.name configs.cardInfo.name.value}}
                oninput={{action myAction configs.cardInfo.name.name configs.cardInfo.name.value}}
              > -->
              <!-- VSCode v. Handlebars-->
              <!--
              {{#if configs.valid.nameWarning}}
              <div style="color:red; font-size: .8em">
                This field is required.
              </div>-->
              {{/if }}
              <!-- VSCode v. Handlebars-->
              {{/if }}
              <!-- VSCode v. Handlebars-->
              <input class="mdl-textfield__input" type="text" placeholder={{configs.cardInfo.expiry.placeholder}} name={{configs.cardInfo.expiry.name}}
                value={{configs.cardInfo.expiry.value}} oninput={{action myAction configs.cardInfo.expiry.name configs.cardInfo.expiry.value}}
                onblur={{action touched configs.cardInfo.expiry.name configs.cardInfo.expiry.value}}>
              <!-- VSCode v. Handlebars-->
              {{#if configs.valid.expirationDateWarning}}
              <div style="color:red; font-size: .8em">
                This field is required.
              </div>
              {{/if }}
              <!-- VSCode v. Handlebars-->
              {{#if configs.valid.expirationDateWarning}}
              <div style="color:red; font-size: .8em">
                Valid expiration date required.
              </div>
              {{/if }}
              <div></div>
              {{#if CVC}}
              <!-- VSCode v. Handlebars -->
              <!-- 
              <input 
                class="mdl-textfield__input" type="text" 
                placeholder={{configs.cardInfo.cvc.placeholder}} 
                name={{configs.cardInfo.cvc.name}}
                value={{configs.cardInfo.cvc.value}}
                oninput={{action myAction configs.cardInfo.cvc.name configs.cardInfo.cvc.value}}
                onfocus={{action myAction configs.cardInfo.cvc.name configs.cardInfo.cvc.value}}
              > 
              -->
              <!-- VSCode v. Handlebars -->
              <!--
              {{#if configs.valid.cvvWarning}}
              <div style="color:red; font-size: .8em">
                {{configs.valid.numberValidation.card.niceType}} cards must be {{configs.valid.cvvLengths}} digits.
              </div>
              -->
              {{/if }}
              <!-- VSCode v. Handlebars-->
              {{/if}}
            </div>
            <!-- VSCode v. Handlebars-->
            {{#if billMeToggle}} {{input type="checkbox" class="mdl-switch__input" checked=billMe click=(action toggle 'billMe' billMe)
            disabled=configs.valid.billMeDisabled}}
            <span style="margin:0 5%">
              Bill Me Later
            </span>
            {{/if}}
          </form>
        </div>
      </div>
    </li>
    {{/if}}
  </ul>
</div>
{{/if}}
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" style={{configs.valid.demo}}>
  <div class="mdl-layout__drawer" >
    <span class="mdl-layout-title">Configuration</span>
    <select style="width:90%; margin: 5%" onchange={{action setSelectedConfig value="target.value" }}>
      {{#each-in savedConfigs as |key config|}}
      <option value={{config.name}} selected={{eq config.name selectedConfig}}>{{config.name}}</option>
      {{/each-in}}
    </select>
    <ul class="demo-list-item mdl-list">
      <span class="mdl-layout-title">Sections</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Your Wallet
        </span>
        <span class="mdl-list__item-secondary-action action">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=wallet click=(action toggle 'wallet' wallet)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Alternative Payments
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=AlternativePayments click=(action toggle 'AlternativePayments'
            AlternativePayments)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bill Me
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=billMeToggle click=(action toggle 'billMeToggle' billMeToggle)}}
          </label>
        </span>
      </li>
      {{#unless widgetToggle }}
      <div style="color:red; margin:0 5%">Warning!!: </div>
      <div style="color:red; margin:0 5%">When Bill Me is the only option the widget will not display.</div>
      {{/unless }}

      <span class="mdl-layout-title">Allowed Cards</span>
      {{#unless cardToggle}}
      <div style="color:red; margin:0 5%">Warning!!: </div>
      <div style="color:red; margin:0 5%">You need at least one card to be allowed to see the Card section.</div>
      {{/unless}}

      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Visa
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=Visa click=(action toggle 'Visa' Visa)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Master Card
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=MasterCard click=(action toggle 'MasterCard' MasterCard)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          American Express
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=AmericanExpress click=(action toggle 'AmericanExpress' AmericanExpress)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Discover Card
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=DiscoverCard click=(action toggle 'DiscoverCard' DiscoverCard)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Diners Club
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=DinersClub click=(action toggle 'DinersClub' DinersClub)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          JCB
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=JCB click=(action toggle 'JCB' JCB)}}
          </label>
        </span>
      </li>
      <span class="mdl-layout-title">Card Info</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          CVV
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=CVC click=(action toggle 'CVC' CVC)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Name
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=nameOnCard click=(action toggle 'nameOnCard' nameOnCard)}}
          </label>
        </span>
      </li>
      <span class="mdl-layout-title">Save Configuration</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          {{input class="mdl-textfield__input" type="text" name=newConfigName.value placeholder=newConfigName.value value=newConfigName.value
          key-up=(action saveNewConfigName newConfigName.name)}}
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            <button onclick={{action saveNewConfig newConfigName.value}}>Save</button>
          </label>
        </span>
      </li>
    </ul>

    <h4>CDS Encryption </h4>
    <table>
      <tbody>
        <tr>
          <td>
            <label htmlFor="ccNumber">ccNumber</label>
          </td>
          <td>

            <input style="border:none" placeholder="ccNumber" value={{configs.cardInfo.number.value}} readOnly />
          </td>
        </tr>
        <tr>
          <td>
            <label htmlFor="cipher">Cipher</label>
          </td>
          <td>
            <input id="cipher" type="input" placeholder="Cipher" data-cds="cipher" readonly>
          </td>
        </tr>
        <tr>
          <td>
            <label htmlFor="cardType">Card Type</label>
          </td>
          <td>
            <input style=" border: none " id="cardType" type="input" placeholder="Card Type" data-cds="cardType" readOnly disabled />
          </td>
        </tr>
        <tr>
          <td>
            <label htmlFor="responseCode">Response Code</label>
          </td>
          <td>
            <input name="responseCode" style=" border: none " id="responseCode" type="input" data-cds="responseCode" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <main style="width:100%; height:1500px; margin-left:50px" class="mdl-layout__content">
    <div class="page-content">
    </div>

  </main>
</div>
{{/ui-layout}}