{{#ui-layout class="container" as | configs Visa MasterCard AmericanExpress DiscoverCard DinnersClub JCB CVC nameOnCard wallet
billMeToggle billMe payWith savedConfigs selectedConfig filter filterWith myAction toggle setSelectedConfig|}}
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Configuration</span>
    <select onchange={{action setSelectedConfig value="target.value" }}>
      {{#each savedConfigs as |config|}}
      <option value={{config.name}} selected={{eq config.name selectedConfig}}>{{config.name}}</option>
      {{/each}}
    </select>
    <ul class="demo-list-item mdl-list">
      <span class="mdl-layout-title">Sections</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Your Wallet
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=wallet click=(action toggle 'wallet' wallet)}} {{log 'wallet' wallet}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Pay With
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=payWith click=(action toggle 'payWith' payWith)}} {{log 'payWith'
            payWith}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bill Me
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=billMeToggle click=(action toggle 'billMeToggle' billMeToggle)}}
            {{log 'billMeToggle' billMeToggle}} {{log 'billMeToggle' billMeToggle}}
          </label>
        </span>
      </li>
      <span class="mdl-layout-title">Allowed Cards</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Visa
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=Visa click=(action toggle 'Visa' Visa)}}
            {{log '\n\n\n Visa' Visa}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          MasterCard
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=MasterCard click=(action toggle 'MasterCard' MasterCard)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          AmericanExpress
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=AmericanExpress click=(action toggle 'AmericanExpress' AmericanExpress)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          DiscoverCard
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=DiscoverCard click=(action toggle 'DiscoverCard' DiscoverCard)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          DinnersClub
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=DinnersClub click=(action toggle 'DinnersClub' DinnersClub)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          JCB
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=JCB click=(action toggle 'JCB' JCB)}}
          </label>
        </span>
      </li>
      <span class="mdl-layout-title">Card Info</span>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          CVV
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=CVC click=(action toggle 'CVC' CVC)}}
          </label>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Name
        </span>
        <span class="mdl-list__item-secondary-action" action>
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
            {{input type="checkbox" class="mdl-switch__input" checked=nameOnCard click=(action toggle 'nameOnCard' nameOnCard)}}
          </label>
        </span>
      </li>
    </ul>
  </div>
  <main style="margin-left:50px" class="mdl-layout__content">
    <div class="page-content">
      <div style="margin-left: 20%;margin-top: 50px; width: 80%;" class="demo-card-wide mdl-card mdl-shadow--16dp">
        <ul class="demo-list-item mdl-list">
          {{#if wallet}}
          <li class="mdl-list__item">
            <!--<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab"> 1 </button>-->
            <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--0dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Your Wallet:</h2>
              </div>
            </div>
          </li>
          <hr/> {{/if}} {{#if payWith}}
          <li class="mdl-list__item">
            <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--0dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Pay Width:</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <button class=" mdl-button mdl-js-button">
                  <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/apple-pay.png" /> Apple Pay
                </button>
                <button class="mdl-button mdl-js-button">
                  <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/amazon-pay.png" /> Pay Pal
                </button>
                <button style="" class="mdl-button mdl-js-button">
                  <img height="100%" src="https://cdn.rawgit.com/McCallTech/CDS-Payments-Widget/master/src/images/amazon-pay.png" /> Amazon Pay
                </button>
                <br/>
                <br/>
                <br/>
                <div>
                  (you will be prompted to sign in to complete the payment process)
                </div>
              </div>
            </div>
          </li>
          <hr/> {{/if}}
          <li class="mdl-list__item">
            <!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab"> 2 </button>-->
            <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--0dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"></h2>
              </div>
              <div class="mdl-card__supporting-text">
                <!--
                {{#each-in configs.cards as |key card|}}
                <button class="mdl-button mdl-js-button mdl-button--raised">
                  {{card.niceType}}
                </button>
                {{/each-in}}
                -->
                {{#if Visa}}
                <button class="mdl-button mdl-js-button">
                  <img src={{configs.cards.Visa.image}}/>
                </button>
                {{/if}} {{#if MasterCard}}
                <button class="mdl-button mdl-js-button">
                  <img src={{configs.cards.MasterCard.image}}/>
                </button>
                {{/if}} {{#if AmericanExpress}}
                <button class="mdl-button mdl-js-button">
                  <img src={{configs.cards.AmericanExpress.image}}/>
                </button>
                {{/if}} {{#if DiscoverCard}}
                <button class="mdl-button mdl-js-button">
                  <img src={{configs.cards.DiscoverCard.image}}/>
                </button>
                {{/if}} {{#if DinnersClub}}
                <button class="mdl-button mdl-js-button ">
                  <img src={{configs.cards.DinnersClub.image}}/>
                </button>
                {{/if}} {{#if JCB}}
                <button class="mdl-button mdl-js-button">
                  <img src={{configs.cards.JCB.image}}/>
                </button>
                {{/if}}
                <br/>
                <br/>
                <br/> {{#credit-card form="#my-form"}}
                <form id='my-form' class='payment-info'>
                  <div style="width:100%" class="mdl-textfield mdl-js-textfield">
                    {{input class="mdl-textfield__input" type="text" placeholder=configs.cardInfo.number.placeholder name=configs.cardInfo.number.name
                    value=configs.cardInfo.number.value keyUp=(action myAction configs.cardInfo.number.name configs.cardInfo.number.value)
                    }}
                    <div></div>
                    {{#if nameOnCard}} {{input class="mdl-textfield__input" type="text" placeholder=configs.cardInfo.name.placeholder name=configs.cardInfo.name.name
                    value=configs.cardInfo.name.value keyUp=(action myAction configs.cardInfo.name.name configs.cardInfo.name.value)
                    }} {{/if }}
                    <div></div>
                    {{input class="mdl-textfield__input" type="text" placeholder=configs.cardInfo.expiry.placeholder name=configs.cardInfo.expiry.name
                    value=configs.cardInfo.expiry.value keyUp=(action myAction configs.cardInfo.expiry.name configs.cardInfo.expiry.value)
                    }}
                    <div></div>
                    {{#if CVC}} {{input class="mdl-textfield__input" type="text" placeholder=configs.cardInfo.cvc.placeholder name=configs.cardInfo.cvc.name
                    value=configs.cardInfo.cvc.value keyUp=(action myAction configs.cardInfo.cvc.name configs.cardInfo.cvc.value)
                    }} {{/if}}
                  </div>
                </form>
                {{/credit-card}}
              </div>
            </div>
          </li>
          <hr/> {{#if billMeToggle}}
          <li style="width:30%" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                {{input type="checkbox" class="mdl-switch__input" checked=billMe click=(action toggle 'billMe' billMe)}} {{log 'billMe' billMe}}
              </label>
            </span>
            <span class="mdl-list__item-secondary-action" action>
              Bill Me Later
            </span>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </main>
</div>
{{/ui-layout}}