{{#ui-layout class="container" as |configs filter filterWith myAction|}}
<br/> {{log 'configs : ' configs}}
<br/> {{log 'myAction : ' myAction}}
<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Configuration</span>
  </div>
  <main style="margin-left:50px" class="mdl-layout__content">
    <div class="page-content">
      <div style="margin-left: 20%;margin-top: 50px; width: 80%;" class="demo-card-wide mdl-card mdl-shadow--16dp">
        <ul class="demo-list-item mdl-list">
          <!--
          <li class="mdl-list__item">
            {{log 'Name is:' configs}}
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab"> 1 </button>
            <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--0dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Your Wallet:</h2>
              </div>
              <div class="mdl-card__supporting-text">
                (you will be prompted to sign in to complete the payment process)
              </div>
            </div>
          </li>
            -->
          <li class="mdl-list__item" {{action myAction 'test'}}>
            Hi Mom!!!
          </li>
          <li class="mdl-list__item">
            <div style="width:100%; margin:0%" class="demo-card-wide mdl-card mdl-shadow--0dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"></h2>
              </div>
              <div class="mdl-card__supporting-text">
                {{#each-in configs.cards as |key card|}}
                <button class="mdl-button mdl-js-button mdl-button--raised">
                  {{card.niceType}}
                </button>
                {{/each-in}}

                <br/>
                <br/>
                <br/> {{#credit-card form="#my-form"}}
                <form id='my-form' class='payment-info'>
                  {{#each-in configs.cardInfo as |key info|}}
                  <div style="width:100%" class="mdl-textfield mdl-js-textfield">
                    {{input type="text"  placeholder=info.placeholder value=info.value keyUp=(action myAction info.value info.name)}}
                  </div>
                  {{/each-in}}
                </form>
                {{/credit-card}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>
{{/ui-layout}}